<div class="container">
    <h3 style="text-align:center;" class="display-4" translate="">restaurant_detail.heading</h3>
        <table class="table striped">
            <thead>
                <th translate="">restaurant_detail.resto_name</th>
                <th translate="">restaurant_detail.address</th>
                <th translate="">restaurant_detail.phone</th>
                <th translate="">restaurant_detail.open_time</th>
                <th translate="">restaurant_detail.close_time</th>
                <th translate="">restaurant_detail.menu_image</th>
            </thead>
            <tbody>
                <tr>    
                    <td>{{restaurantList.restaurantName}}</td>
                        <td>{{restaurantList.address}}</td>
                        <td>{{restaurantList.phone_no}}</td>
                        <td>{{restaurantList.open_time }}</td>
                        <td>{{restaurantList.close_time}}</td>
                        <td><img [src]="url" style="height: 200px; width: 200px;"/></td>
                </tr>
            </tbody>
        </table>
</div>
