img.avatar {
    width: 20%;
    border-radius: 50%;
  }
  .imagecontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  .container {
    padding: 10px 16px;
  }
  .container{
    
    margin-top: 50px;
    width: 500px;
    
}
