<!-- <div>
    <h3 style="text-align: center;">User List</h3>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Username</th>
                <th>email</th>
                <th>Roles</th>
                <th>Change Role</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">

                <td>{{user.username}}</td>
                <td>{{user.email}}</td>
                
                <td>{{user.roles[0].name|slice:5}}</td>
        
                <td><button class="btn btn-primary" (click)="changeRole(user.id)">Change Role</button></td>
                <td><button class="btn btn-primary" (click)="deleteUser(user.id)">Delete User</button></td>

            </tr>
        </tbody>
    </table>
</div> -->


<kt-portlet>
    <ng-container ktPortletTitle>
        <h3 class="kt-portlet__head-title" style="text-align: center;">
            <h2>Users List</h2>
        </h3>
    </ng-container>
    <br><br>
    <div class="search-div">
        <!-- <button mat-raised-button  (click)="open(content)">
            <mat-icon>add</mat-icon>Add
          </button> -->
        <mat-form-field class="search-form-field">
            <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="on" (keyup)="applyFilter()">
            <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="listData" matSort>
            <ng-container matColumnDef="Username">
                <mat-header-cell *matHeaderCellDef mat-sort-header> User Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="roles">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.roles[0].name|slice:5}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef style="text-align: center;">Actions</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button color="primary" matTooltip="Delete user" 
                    (click)="deleteUser(element)">
                        <mat-icon>delete</mat-icon>
                    </button>&nbsp;

                    <button mat-icon-button color="primary" matTooltip="Change role" (click)="changeRole(element.id)">
                        <mat-icon>autorenew</mat-icon>
                    </button>&nbsp;
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[3,6,9]" [pageSize]="3" showFirstLastButtons></mat-paginator>
    </div>
</kt-portlet>
