<div class="container jumbotron">
    <h2 style="text-align: center;">Add Restaurant</h2>
        <form [formGroup]="restaurantForm" (ngSubmit)="saveRestaurant(restaurantForm.value)">
            <div class="form-group">
                <b><label>Restaurant Name<span style="color: red;">*</span></label></b>
                <input type="text" placeholder=""
                formControlName="restaurantName" name="restaurantName" class="form-control"/>
            </div>
           


            <div class="form-group">
                <b><label>Address<span style="color: red;">*</span></label></b>
                <textarea placeholder="" class="form-control" 
                formControlName="address" name="address"></textarea>
            </div>
            
            <div class="form-group">
                <b><label>Contact Number<span style="color: red;">*</span></label></b>
                <input type="text" placeholder="" class="form-control" 
                formControlName="phone_no" name="phoneno" >
            </div>
            
            <div class="form-group">
                <b><label>Open Time<span style="color: red;">*</span></label></b>
                <ngb-timepicker [formControlName]="'open_time'" ></ngb-timepicker>
            </div>
            <div class="form-group">
                <b><label>Close Time<span style="color: red;">*</span></label></b>
                <ngb-timepicker [formControlName]="'close_time'"></ngb-timepicker>
            </div>
            <button type="submit" class="btn btn-primary" value="Check" translate="">Save</button>&nbsp;&nbsp;
        </form>
        <br/>
        <h5 style="font-size: large; font-weight: bold;">Upload Menu <span style="color: red;">*</span></h5>
        <form (ngSubmit)="uploadFile()">
            <input type="file" (change)="onFileChangeEvent($event)" multiple="false" 
            name="select file" style="width: 210px;" accept=".png,.jpg,.jpeg,.jfif" />
            &nbsp;&nbsp;&nbsp;<span style="color: red;">*Image should be less than 1 MB</span>
            <br>
            <br>
            <button type="submit" class="btn btn-primary" translate="">Upload</button>
         </form>
</div>
