<div class="container jumbotron">
    <div class="row">
        <div class="col-sm">
    <h3 translate>register.heading</h3>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="exampleInputEmail1" translate>register.username</label><span style="color: red;">*</span>
            <input type="text" class="form-control" id="userName" name="userName" required 
            [(ngModel)]="registration.userName" placeholder translate>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1" translate>register.email</label><span style="color: red;">*</span>
          <input type="email" class="form-control" id="email" name="email" required [(ngModel)]="registration.email" 
          aria-describedby="emailHelp" placeholder="">
          <small id="email" class="form-text text-muted" translate>register.email_text</small>
        </div>
        <div class="form-group">
          <label for="inputPassword1" translate>register.password</label><span style="color: red;">*</span>
          <input type="password" class="form-control" id="password" name="password" 
          required [(ngModel)]="registration.password" placeholder="">
        </div>
        <!-- <div class="form-group">
            <label for="inputConfirmPassword1">Confirm Password</label><span style="color: red;">*</span>
            <input type="password" class="form-control" id="password" name="confirmPassword" required [(ngModel)]="registration.password" placeholder="Password">
          </div> -->
        <button type="submit" class="btn btn-primary" translate>register.submit</button>
      </form>
    </div>
      </div>
</div>
