<div class="table-responsive">
	<h3 style="text-align: center;">Active Restaurants</h3>
	<table class="table table-striped">
	  <thead>
		<th>Restaurant Name</th>
		<th>Action</th>
	  </thead>
	  <tbody >
		<!-- <tr *ngIf=" r.status==='active'"> -->
			<tr *ngFor="let r of restaurant">
		  <td class="col-2"><b>{{r.restaurantName}}</b></td>
		  <td><a [routerLink]="['/restaurants/restaurantDetail',r.restaurantName]">
			  <button class="btn btn-info">Details</button></a></td>
		</tr>
  
	  </tbody>
	</table>
	<h2>Hiiii</h2>
  </div>